.burger {
	background-color: salmon;
	display: none;
	height: 3px;
	position: relative;
	width: 10px;
}

.burger:before {
	content: " ";
	background-color: salmon;
	height: 3px;
	position: absolute;
	top: 5px;
	width: 10px;
}

.burger:after {
	bottom: 5px;
	content: " ";
	background-color: salmon;
	height: 3px;
	position: absolute;
	width: 10px;
}

@media (min-width: 319px) {
	.nav {
		display: none;
	}
}

@media (min-width: 319px) {
	.burger {
		display: block;
	}
}

@media (min-width: 1024px) {
	.burger {
		display: none;
	}
}

@media (min-width: 1024px) {
	.nav {
		display: inline;
	}
}